.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: var(--offset);
}

.embed{
  position: relative;
  overflow: hidden;
  &::before{
    content: '';
    display: block;
    padding-top: 56.25%;
  }
  iframe,
  video,
	object,
	embed{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}