:root{

/*Index variable for responsive text & blocks*/

 --index: calc(1vw + 1vh);

/*Container*/

  --content-width: 120rem;
  --container-offset: 1.5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

/*Grid column gap & offsets*/

  --offset: 1rem;

/*Text colors*/

  --main-dark: #000;
  --secondary-dark: #121212;
  --main-light: #fff;
  --secondary-light: #fefefe;
  --main-title: #fff;
  --secondary-title: #fff;
  --accent: #fff;
  --active: #fff;
  --muted: #ccc;
  --muted-light: #ccc;

/*Ui colors*/

  --ui-1: #fff;
  --ui-2: #fff;
  --ui-3: #fff;
  --ui-4: #fff;

/*Local colors*/

  --header-bg-color: #fff;
  --footer-bg-color: #fff;

/*Fonts*/

  --main-font: 'Open Sans', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --accent-font: 'Open Sans', sans-serif;
}

/*Media querries*/

$desktop: 1920px;
$laptop: 1305px;
$tablet: 991px;
$small-tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
